.button_without_back,
.button_with_back{
  display: block;
  width: 100%;
  max-width: 30rem;
  padding: 1.67rem 0 2.27rem;
  text-align: center;
  font-size: 2rem;
  line-height: 2.4rem;
  font-family: $montserrat-bold;
  background-color: $gray-orange-color;
  transition: .3s background-color;
  color: $white-color;

  &:hover{
    background-color: $orange-color;
  }
}

.button_without_back{
  border: 1px solid rgba(79, 79, 79, 1);
  color: $grey-color;
  padding: 1.4rem 0;
  text-align: center;
  background-color: transparent;
  transition: .3s background-color, .3s color;
  font-family: $montserrat-medium;
  font-size: 1.8rem;
  line-height: 2.1rem;

  &:hover{
    background-color: $orange-color;
    color: $white-color;
  }
}

.button_video{
  &_lg,
  &_md,
  &_sm{
    display: block;
    border-radius: 50%;
  }

  &_lg{
    width: 15rem;
    height: 15rem;
    padding: 1.5rem;
    border: 1px solid rgba(250, 250, 250, 1);
    
    .back_grey{
      background: rgba(255, 255, 255, 0.4);
      padding: 2rem;
      border-radius: 50%;
    }
    .back_red{
      width: 8rem;
      height: 8rem;
      display: flex;
      align-items: center;
      justify-content: center;
      background-color: $gray-orange-color;
      transition: .3s background-color;
      border-radius: 50%;
    }
    &:hover{
      .back_red{
        background-color: $hover-video-button;
      }
    }
    img{
      width: 3.6rem;
      height: 3.6rem;
    }
  }

  &_md{
    width: 12rem;
    height: 12rem;
    padding: 2rem;
    border: 1px solid rgba(232, 121, 104, 1);
    transition: .3s border;
    &:hover{
      border: 1px solid rgba(254, 50, 39, 1);
      .back_red{
        background-color: $hover-video-button;
      }
    }
    .back_red{
      border-radius: 50%;
      width: 8rem;
      height: 8rem;
      display: flex;
      align-items: center;
      justify-content: center;
      background-color: $gray-orange-color;
      transition: .3s background-color;
    }
    img{
      width: 3.3rem;
      height: 2.5rem;
    }
  }

  &_sm{
    width: 9rem;
    height: 9rem;
    padding: 1.5rem;
    border: 1px solid rgba(0, 151, 160, 1);
    transition: .3s border;
    svg{
      width: 2.5rem;
      height: 1.9rem;
      fill: $white-color;
      transition: .3s fill;
    }
    .back_green{
      width: 6rem;
      height: 6rem;
      display: flex;
      align-items: center;
      justify-content: center;
      border-radius: 50%;
      background-color: $green-color;
      transition: .3s background-color;
    }
    &:hover{
      border: 1px solid rgba(250, 250, 250, 1);
      svg{
        fill: $green-color;
      }
      .back_green{
        background-color: $white-color;
      }
    }
  }
}

.swiper-button-prev,
.swiper-button-next{
  position: static;
  left: 0;
  right: 0;
  width: 4rem;
  height: 4rem;
  border: .1rem solid $grey-color;
  margin-top: 0;
  svg{
    width: 1rem;
    height: 1.5rem;
  }
  &:hover{
    border: 1px solid rgba(0, 151, 160, 1);
    svg{
      stroke: $green-color;
    }
  }
}
.slider_buttons_wrap{
  display: flex;
  align-items: center;
}
.swiper-button-prev{
  transform: rotate(-180deg);
}

.swiper-button-prev,
.swiper-button-next {
  background-color: $white-color;
}