.popup_form {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 100;
  display: none;
}

.popup_form {
  &__img {
    @include _768 {
      width: 50%;
    }
  }
  &__container {
    background: rgba(0, 0, 0, 0.4);
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    overflow: auto;
  }
  &__close {
    position: absolute;
    top: 1rem;
    right: 1rem;
    width: 3rem;
    height: 3rem;
    display: block;
    @include _1024 {
      top: 2rem;
      right: 2rem;
    }
  }
  &__wrap {
    position: relative;
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    max-width: 95rem;
    @include _768 {
      flex-direction: row;
    }

    form {
      background-color: $white-color;
      padding: 3rem;
      text-align: center;
      @include _768 {
        width: 50%;
      }
      @include _1024 {
        text-align: left;
        padding: 4rem 4.7rem 5rem 5rem;
      }
    }
  }

  &__title {
    font-size: 2rem;
    margin: 0 0 1.5rem;
    line-height: 2.4rem;
    font-family: $montserrat-bold;
    @include _1024 {
      font-family: $montserrat-regular;
      font-size: 3rem;
      line-height: 3.7rem;
      margin: 0 0 2rem;
    }
  }

  input {
    border-top: 0;
    border-right: 0;
    border-left: 0;
    border-bottom: 1px solid $grey-color;
    width: 100%;
    display: block;
    background-color: transparent;
    margin: 0 0 1.5rem;
    padding: 1.6rem 0 1.2rem;
    font-size: 1.4rem;
    line-height: 1.7rem;
    font-family: $montserrat-regular;

    &.margin{
      margin: 0 0 3.5rem;
    }
    @include _1024 {
      font-size: 1.6rem;
      line-height: 2.4rem;
    }

    &.error {
      background: rgba(255, 204, 204, 0.2);
      border: 1px solid rgba(255, 0, 0, 1);
      color: rgba(255, 0, 0, 1);
      &::placeholder {
        color: rgba(255, 0, 0, 1);
      }
    }
  }

  &__sub-title {
    display: block;
    font-size: 1.6rem;
    line-height: 2rem;
    margin: 0 auto 1.4rem;
    width: 94%;
    @include _1024 {
      width: 100%;
      font-size: 1.8rem;
      line-height: 2.2rem;
      margin: 0 0 3rem;
    }
  }

  &__submit {
    max-width: 100%;
    margin: 1rem 0;
    @include _1024 {
      margin: 1.5rem 0;
    }
  }
}

.form-control.is-invalid,
.was-validated .form-control:invalid {
  background-image: url("");
  &::placeholder {
    color: rgba(255, 0, 0, 1);
  }
  border: 1px solid rgba(255, 0, 0, 1);
  background-color: rgba(255, 204, 204, 0.2);
}
.form-control.is-valid,
.was-validated .form-control:valid {
  background-image: url("");
}
