.yachting {
  .info{
    &__head{
      flex-direction: column-reverse;
    }
    &__title{
      max-width: 100%;
    }
    &__container{
      @include _1024{
        padding: 0 10rem 15.3rem;
      }
    }
    &__icon{
      align-self: flex-end;
    }
    &__blocks{
      flex-wrap: wrap;
    }
    &__block{
      width: 100%;
      background-color: #fff;
      max-width: 100%;
      @include _600{
        width: calc(calc(100% - 2rem) /2);
      }
      @include _768{
        width: calc(calc(100% - 4rem) /3);
      }
      @include _1024{
        padding: 2.5rem 2rem 3.4rem;
      }
      // &:last-child{
      //   max-width: 100%;
      // }
    }
  }

  .blocks_info{
    &__total{
      &::after {
        content: "";
        display: block;
        width: 20rem;
        height: .1rem;
        background-color: #4f4f4f;
        margin: 1.1rem auto 0;
      }
    }
    &__text{
      @include _1024{
        font-size: 1.8rem;
        line-height: 2.2rem;
      }
    }

  }
}